name: pipeline

on:
  push:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    
    - name: Package
      run: mvn package  
  
  smoketest:
    runs-on: ubuntu-latest
    steps:    
       - name: checkout
         uses: actions/checkout@v2
         with:
            fetch-depth: 0        
       - name: smoketest 
         run: |
            ./src/scripts/smoketeste.sh
            ls 
            pwd
         shell: bash        
  publish:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          package: '*.jar'
      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}        
